<h1>Search the records</h1>
<div class="overlay" ng-if="vm.isSearching">
    <div class="loader"></div>
    <div align="center">Searching...</div>
</div>
<div class="status warn"
     ng-show="vm.showWarning">
    <div class="inner">
        <h2 ng-bind="vm.warningHeader" />
        <div>
            <label ng-bind="vm.warningMessage">
        </div>
    </div>
</div>
<div>
    <h2>Category/Index</h2>
    <div>
        <div ng-repeat="category in vm.categories">
            <label>
                <input type="radio" 
                       name="category" 
                       ng-model="vm.selectedCategoryKey" 
                       ng-value="category.categoryKey" ng-change="vm.changeCategory()"> 
                {{ category.categoryName }}
            </label>
            <div class="checkbox-align">
                <ol class="questions">
                    <li class="group">
                        <ul class="choices" 
                            ng-show="vm.selectedCategoryKey === category.categoryKey">
                            <li ng-repeat="(indexKey, index) in category.indexes">
                                <label>
                                    <input type="radio" 
                                           name="index" 
                                           ng-model="vm.selectedIndexKey" 
                                           ng-value="vm.getIndexIdentifier(category.categoryKey, indexKey)" 
                                           ng-change="vm.changeIndex(indexKey)"> 
                                    {{ index.indexName }}
                                </label>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>    
</div>
<div ng-show="vm.filters.length">
    <hr class="border-top">
    <h2>Filters</h2>
    <div class="status warn" ng-show="vm.showFilterWarning">
        <h2>No filter criteria</h2>
        <div>
          Please enter value in at least one filter or download the full CSV file
        </div>
    </div>
    <form class="form">
        <div class="search-filter-container">
            <div ng-repeat="filter in vm.filters" class="search-filter">
                <qsa-filter-input qsa-target-field="filter.field"
                                  qsa-index="vm.selectedIndex"
                                  qsa-filters="vm.filters"
                                  qsa-source="vm.suggestions"                         
                                  ng-model="filter.value" />
            </div>            
        </div>
        <div class="search-button-container">
            <strong><button id="main-search-button"
                            ng-click="vm.searchResults()"
                            qsa-no-focus>
                            Search
            </button></strong>
        </div>
    </form>
</div>
<div id="result-block" ng-style="vm.searchResultStyle">
    <h2>Search result</h2>
    <p ng-bind="vm.resultCategoryName" />
    <p ng-bind="vm.resultIndexName" />
    <table id="{{ vm.datatableId }}" class="stripe" width="100%" cellspacing="0"></table>
</div>