<div class="aside story">

    <div id="ssq-minicart">

        <h2>Cart</h2>

        <div id="ssq-minicart-view">
            <!-- TODO noscript customer instructions -->
            <p class="ssq-minicart-noscript">Edit cart or checkout to place your order.</p>

            <div class="ssq-minicart-submit">
                <input type="hidden" id="ssq-cart-contents" name="ssq-cart-contents" value=""/>
                <a href="{{vm.EnvService.smartServiceUrlPrefix}}/payment/cart/checkout"><img id="ssq_minicart_checkout"
                                                                  src="{{vm.EnvService.smartServiceUrlPrefix}}/payment/minicart/btn-checkout.png"
                                                                  alt="Checkout"/></a>
                <a href="{{vm.EnvService.smartServiceUrlPrefix}}/payment/cart/view"><img id="ssq_minicart_cart"
                                                              src="{{vm.EnvService.smartServiceUrlPrefix}}/payment/minicart/btn-cart.png"
                                                              alt="Edit cart"/></a>
            </div>
        </div>

        <div class="ssq-minicart-cards">
            <h3>Cards accepted</h3>
            <ul>
                <li><img src="{{vm.EnvService.smartServiceUrlPrefix}}/payment/minicart/visa.png" alt="Visa"/></li>
                <li><img src="{{vm.EnvService.smartServiceUrlPrefix}}/payment/minicart/mastercard.png" alt="MasterCard"/></li>
            </ul>
        </div>
    </div>

</div>
